@mixin center{
  position: absolute;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
$back: #3C3C3B;
$boxcolor: #FFFFFF;
$font: 'Open Sans', Calibri;

body{
  background:$back;
  font-family: $font;
}

button{
  cursor:pointer;
}

.containerbox{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
  position:relative;
  width: 80%;
  height: 100%;
  transition: all 0.5s ease;
}

.ingbox{
  background: $boxcolor;
  border-radius: 2%;
  color:#545454;
  cursor:pointer;
  display:block;
  flex: 1 0 auto;
  height:auto;
  margin:10px;
  overflow-y:auto;
  width:200px;
  & .ingbox-name{
    display:block;
    font-size: 1.4em;
    font-weight: 400;
    position: relative;
    margin: 0 auto;
    text-align:center;
  }
  & .ingredient{
    font-size: 1em;
    margin: 0 auto;
    font-weight: 300;
  }
}

.menus{
  position:relative;
  width:100%;
}

#modal{
  animation: popOut 0.5s ease 1;
  background:white;
  border: solid black 2px;
  display:block;
  height:200px;
  left:50%;
  max-width: 500px;
  position: absolute;
  top:10%;
  transform:translateX(-50%);
  width: 80%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.modal-active{
  opacity:0.5;
  pointer-events:none;
  transform: translateZ(-150px);
}

.recipebox{
  transform-style: preserve-3d;
  -webkit-perspective: 1500px;
}
@keyframes popOut{
  0% {
    transform:translateX(-50%) translateZ(150px) rotateX(-20deg);
  }
  100% {
    transform:translateX(-50%) translateZ(0px) rotateX(0deg);
  }
}