@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
body {
  background-image: url("https://www.transparenttextures.com/patterns/checkered-pattern.png");
  background-color: #444B6E;
  font-family: "Open Sans", Calibri; }

button {
  cursor: pointer; }

.containerbox {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: row;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          flex-direction: row;
  margin: 0 auto;
  position: relative;
  width: 80%;
  height: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.ingbox {
  background: #FFFFFF;
  border-radius: 2%;
  color: rgba(60, 60, 59, 0.8);
  display: block;
  -ms-flex: 1 0 auto;
      -webkit-box-flex: 1;
          flex: 1 0 auto;
  height: auto;
  margin: 10px;
  width: 200px; }
  .ingbox .ingredient-container {
    clear: both;
    height: auto;
    width: 80%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-height: 90px;
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 5%;
    margin-bottom: 5%; }
  .ingbox .ingbox-name {
    cursor: pointer;
    display: block;
    font-size: 1.8em;
    font-weight: 400;
    position: relative;
    margin: 0 auto;
    margin-top: 5%;
    text-align: center;
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease; }
    .ingbox .ingbox-name:before {
      content: '';
      position: absolute;
      height: 5px;
      border-radius: 2.5px;
      top: 120%;
      width: 70%;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      background: #71EDB6; }
    .ingbox .ingbox-name:hover {
      color: rgba(60, 60, 59, 0.4); }
  .ingbox .ingredient {
    position: relative;
    font-size: 1em;
    -ms-flex: 1 0 1;
        -webkit-box-flex: 1;
            flex: 1 0 1;
    display: block;
    font-weight: 300;
    margin-right: 15px;
    margin-bottom: 5px;
    height: auto;
    word-wrap: break-word; }
    .ingbox .ingredient:after {
      content: '';
      display: block;
      height: 1em;
      width: 1px;
      background: rgba(153, 153, 153, 0.7);
      margin-left: 110%;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }

.ing-buttons {
  margin-top: 10%;
  width: 100%;
  margin-bottom: 5%; }
  .ing-buttons button {
    color: #3C3C3B;
    margin-right: 5%;
    margin-bottom: 2%;
    border: none;
    outline: none;
    background: none;
    float: right;
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease; }
    .ing-buttons button:hover {
      color: rgba(60, 60, 59, 0.4); }
    .ing-buttons button i {
      pointer-events: none;
      font-size: 1.4em; }

.menus {
  position: relative;
  width: 100%; }
  .menus .menus-text {
    font-size: 3em;
    color: #FFFFFF; }
  .menus .add-button {
    position: relative;
    margin-left: 20px;
    background: none;
    border: none;
    outline: none;
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    border: solid #FFF 4px;
    color: #FFFFFF;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .menus .add-button:hover {
      color: #444B6E;
      background: white; }
    .menus .add-button i {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      font-size: 2em;
      pointer-events: none; }

#modal {
  -webkit-animation: popOut 0.5s ease 1;
          animation: popOut 0.5s ease 1;
  background: white;
  border-radius: 15px;
  display: block;
  font-weight: 400;
  height: auto;
  left: 50%;
  max-width: 500px;
  position: absolute;
  top: 10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 80%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  #modal #modal-inside {
    color: rgba(60, 60, 59, 0.8);
    padding: 10px;
    font-size: 1.2em; }
    #modal #modal-inside button {
      background: none;
      border: none;
      outline: none;
      color: inherit;
      -webkit-transition: color 0.2s ease;
      transition: color 0.2s ease; }
      #modal #modal-inside button:hover {
        color: rgba(60, 60, 59, 0.5); }
    #modal #modal-inside .modal-header {
      color: #3C3C3B; }
    #modal #modal-inside input {
      outline: none;
      border: none;
      border-bottom: solid rgba(60, 60, 59, 0.5) 3px;
      background: none;
      color: #3C3C3B;
      margin-left: 1%;
      margin-right: 2%;
      margin-bottom: 10px;
      width: 96%;
      -webkit-transition: border-color 0.4s ease;
      transition: border-color 0.4s ease; }
      #modal #modal-inside input:focus {
        border-color: #71EDB6; }

.modal-active {
  opacity: 0.5;
  pointer-events: none;
  -webkit-transform: translate3d(0, 0, -150px);
          transform: translate3d(0, 0, -150px); }

.recipebox {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1500px;
          perspective: 1500px; }

@-webkit-keyframes popOut {
  0% {
    -webkit-transform: translate3d(-50%, 0, 150px) rotateX(-20deg);
            transform: translate3d(-50%, 0, 150px) rotateX(-20deg); }
  100% {
    -webkit-transform: translate3d(-50%, 0, 0px) rotateX(0deg);
            transform: translate3d(-50%, 0, 0px) rotateX(0deg); } }

@keyframes popOut {
  0% {
    -webkit-transform: translate3d(-50%, 0, 150px) rotateX(-20deg);
            transform: translate3d(-50%, 0, 150px) rotateX(-20deg); }
  100% {
    -webkit-transform: translate3d(-50%, 0, 0px) rotateX(0deg);
            transform: translate3d(-50%, 0, 0px) rotateX(0deg); } }